<div class="page-wraper">   
    <div class="page-content">
        <!-- Signup Section Start -->
        <div class="section-full site-bg-white">
            
            <div class="container-fluid">
                <div class="row">

                    <!-- LEFT SIDE -->
                    <div class="col-xl-8 col-lg-6 col-md-5 twm-log-reg-media-wrap">
                        <app-left-side>

                        </app-left-side>
                    </div>

                    <!-- RIGHT SIDE-->
                    <div class="col-xl-4 col-lg-6 col-md-7">
                        <div class="twm-log-reg-form-wrap">
                            <div class="twm-log-reg-logo-head">
                                <a >
                                    <img src="assets/logo-dark.png" alt="" class="logo">
                                </a> 
                            </div>

                            <div class="twm-log-reg-inner">
                                <div class="twm-log-reg-head">
                                    <div class="twm-log-reg-logo">
                                        <span class="log-reg-form-title">SIGN UP AS</span>
                                    </div>
                                </div>
                                <div class="twm-tabs-style-2">
                                    
                                    <ul class="nav nav-tabs" id="myTab2" role="tablist">

                                        <!--Signup Candidate-->  
                                        <li class="nav-item">
                                            <button routerLink="/signup"  class="nav-link" data-bs-toggle="tab" type="button"><i class="fas fa-user-tie"></i>Candidate</button>
                                            
                                        </li>
                                        <!--Signup Employer-->
                                        <li class="nav-item">
                                            <button routerLink="/signup/recruiter" class="nav-link" data-bs-toggle="tab" type="button"><i class="fas fa-building"></i>Employer</button>
                                        </li>
                                    
                                    </ul>  
                                </div>
                                
                                <!--ROUTER OUTLET-->
                                <router-outlet>
                                       
                                </router-outlet>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
 </div>
 <app-footer></app-footer>

