<div class="content-admin-main">

    <div class="wt-admin-right-page-header clearfix">
        <h2>Post a Job</h2>
        <div class="breadcrumbs"><a href="/admin">Dashboard</a><span>Job Submission Form</span></div>
    </div>

    <!--Basic Information-->
    <div class="panel panel-default">
        <div class="panel-heading wt-panel-heading p-a20">
            <h4 class="panel-tittle m-a0"><i class="fa fa-suitcase"></i>Job Details</h4>
        </div>
        <div class="panel-body wt-panel-body p-a20 m-b30 ">
            
            <form (ngSubmit)="createJobs()">
                <div class="row">
                
                        <!--Company Name -->            
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Company Name</label>
                                <div class="ls-inputicon-box"> 
                                    <input class="form-control" [(ngModel)]="job.companyName" name="companyName" type="text" >
                                    <i class="fs-input-icon fa fa-address-card"></i>
                                </div>
                            </div>
                        </div>

                        <!--Company Logo -->            
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Company Logo</label>
                                <div class="ls-inputicon-box"> 
                                    <input class="form-control" [(ngModel)]="job.companyLogo" name="companyLogo" type="text" >
                                    <i class="fs-input-icon fa fa-address-card"></i>
                                </div>
                            </div>
                        </div>

                        

                        <!--Job title-->            
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Job Title</label>
                                <div class="ls-inputicon-box"> 
                                    <input class="form-control" [(ngModel)]="job.jobTitle" name="jobTitle" type="text" >
                                    <i class="fs-input-icon fa fa-address-card"></i>
                                </div>
                            </div>
                        </div>
                        

                        <!--Job Category--> 
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group city-outer-bx has-feedback">
                                <label>Job Category</label>
                                <div class="ls-inputicon-box">  
                                    <input class="form-control" [(ngModel)]="job.jobCategory" name="jobCategory" type="text" >
                                    <i class="fs-input-icon fa fa-border-all"></i>
                                </div>
                                
                            </div>
                        </div>
                        
                        <!--Job Type--> 
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Job Type</label>
                                <div class="ls-inputicon-box">  
                                    <input class="form-control" [(ngModel)]="job.jobType" name="jobType" type="text" >
                                    <i class="fs-input-icon fa fa-file-alt"></i>
                                </div>
                            </div>
                        </div>


                        <!--Offered Salary--> 
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Offered Salary</label>
                                <div class="ls-inputicon-box">  
                                    <input class="form-control" [(ngModel)]="job.offeredSalary" name="offeredSalary" type="text" >
                                    <i class="fs-input-icon fa fa-dollar-sign"></i>
                                </div>
                            </div>
                        </div>

                        <!--Experience--> 
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Experience</label>
                                <div class="ls-inputicon-box"> 
                                    <input class="form-control" [(ngModel)]="job.experience" name="experience" type="text" >
                                    <i class="fs-input-icon fa fa-user-edit"></i>
                                </div>
                            </div>
                        </div>

                        <!--Qualification--> 
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Qualification</label>
                                <div class="ls-inputicon-box"> 
                                    <input class="form-control" [(ngModel)]="job.qualification" name="qualification" type="text" >
                                    <i class="fs-input-icon fa fa-user-graduate"></i>
                                </div>
                            </div>
                        </div>

                        <!--Description--> 
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                <div class="ls-inputicon-box">  
                                    <input class="form-control" [(ngModel)]="job.description" name="description" type="text" >
                                    <i class="fs-input-icon fa fa-venus-mars"></i>
                                </div>
                            </div>
                        </div>

                        <!--Country--> 
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Country</label>
                                <div class="ls-inputicon-box">  
                                    <input class="form-control" [(ngModel)]="job.country" name="country" type="text" >
                                    <i class="fs-input-icon fa fa-globe-americas"></i>
                                </div>
                            </div>
                        </div>


                        <!--City--> 
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>City</label>
                                <div class="ls-inputicon-box">  
                                    <input class="form-control" [(ngModel)]="job.city" name="city" type="text" >
                                    <i class="fs-input-icon fa fa-map-marker-alt"></i>
                                </div>
                            </div>
                        </div>
                        

                        <!--Email--> 
                        <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Email</label>
                                <div class="ls-inputicon-box"> 
                                    <input class="form-control" [(ngModel)]="job.emailAddress" name="emailAddress" type="email" >
                                    <i class="fs-input-icon fa fa-map-marker-alt"></i>
                                </div>
                            </div>
                        </div> 

                        <!--Start Date-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Start Date</label>
                                <div class="ls-inputicon-box"> 
                                    <input class="form-control"  [(ngModel)]="job.startDate" type="date" name="startDate" placeholder="mm/dd/yyyy">
                                    <i class="fs-input-icon far fa-calendar"></i>
                                </div>
                            </div>
                        </div>

                        <!--End Date-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>End Date</label>
                                <div class="ls-inputicon-box"> 
                                    <input class="form-control"  [(ngModel)]="job.endDate" type="date" name="endDate" placeholder="mm/dd/yyyy">
                                    <i class="fs-input-icon far fa-calendar"></i>
                                </div>
                            </div>
                        </div>

                        


                        <!--Start Date--> 
                        <!-- <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Start Date</label>
                                <div class="ls-inputicon-box"> 
                                    <input class="form-control" [(ngModel)]="job.startDate" name="startDate" type="text"  placeholder="mm/dd/yyyy">
                                    <i class="fs-input-icon far fa-calendar"></i>
                                </div>
                            </div>
                        </div>  -->

                        
                        <!--End Date-->
                        <!-- <div class="col-md-6">
                            <div class="form-group">
                                <label>End Date</label>
                                <div class="ls-inputicon-box"> 
                                    <input class="form-control" [(ngModel)]="job.endDate" name="endDate" type="text" required="" placeholder="mm/dd/yyyy">
                                    <i class="fs-input-icon far fa-calendar"></i>
                                </div>
                            </div>
                        </div> -->
                                                                                    
                        <div class="col-lg-12 col-md-12">                                   
                            <div class="text-left">
                                <button type="submit" class="site-button m-r5">Publish Job</button>
                                <button type="submit" class="site-button outline-primary">Save Draft</button>
                            </div>
                        </div> 

                       
                       
                                                                                             
                </div> 
           </form>  
                  
        </div>
    </div>

</div>
