<!-- HEADER START -->
<header class="site-header header-style-3 mobile-sider-drawer-menu">

    <div class="sticky-header main-bar-wraper  navbar-expand-lg">
        <div class="main-bar">

            <div class="container-fluid clearfix">

                <div class="logo-header">
                    <div class="logo-header-inner logo-header-one">
                        <a>
                            <img style="cursor: pointer;" routerLink="" src="assets/logo-dark.png" alt="">
                        </a>
                    </div>
                </div>

                <!-- NAV Toggle Button -->
                <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button"
                    class="navbar-toggler collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-bar-first"></span>
                    <span class="icon-bar icon-bar-two"></span>
                    <span class="icon-bar icon-bar-three"></span>
                </button>

                <!-- MAIN Vav -->
                <div class="nav-animation header-nav navbar-collapse collapse d-flex justify-content-center">
                    <ul class=" nav navbar-nav">
                        
                    </ul>
                </div>
                

                <!-- Header Right Section-->
                <!--Account-->
                    <div class="dashboard-user-section">
                        <div class="listing-user">
                            <div class="dropdown">
                                <a style="font-size: 20px; text-transform: capitalize;" class="dropdown-toggle" id="ID-ACCOUNT_dropdown" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="isLoggedIn && user">
                                    <div class="user-name text-black" >
                                        <span>
                                            <img src="assets/user-avtar/pic4.jpg" alt="">
                                        </span> {{user.username}} 
                                    </div> 
                                </a>
                                <div class="dropdown-menu" aria-labelledby="ID-ACCOUNT_dropdown">
                                      
                                    <ul>
                                        <li><a class="dropdown-item" (click)="logout()"><i class="fa fa-share-square"></i> Logout</a></li>
                                    </ul>
                                        
                                    
                                </div>
                            </div>

                        </div>                                
                   </div>


            </div>


        </div>

    </div>








</header>
<!-- HEADER END -->